:root {
    --cardgradient: linear-gradient(#3e353f, #b43db8);
    --pink: rgb(185, 43, 185);
    --dark-gray: rgb(59, 61, 68);
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: var(--dark-gray);
}

h1 {
    font-size: 300%;
    padding: 40px;
    color: var(--pink);
}

header p {
    font-size: 120%;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    color: white;
}

section {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
}

article {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    max-height: 500px;
    flex: 0 0 33%;
}

h2 {
    font-size: 160%;
    border: solid 2px white;
    border-radius: 5px;
    max-width: 380px;
    padding: 10px;
    margin: 20px 50px -60px 50px;
    z-index: 1;
    color: var(--pink);
    background-color: var(--dark-gray);
    text-align: left;
}

article p {
    font-size: 120%;
    padding-bottom: 20px;
    text-align: left;
    color: var(--pink)
}

.cardbody {
    border: dashed 2px white;
    min-width: 400px;
    height: 100%;
    margin: 30px;
    padding: 60px 30px 30px 30px;
}

pre {
    font-family: monospace;
    color: white;
    font-size: 120%;
    padding: 20px 15px 5px 15px;
    text-align: left;
    background-image: var(--cardgradient);
    user-select: all;
    min-width: 100%;
    max-height: 100%;
    border-radius: 10px;
    display: grid;
    align-content: end;
    line-height: 1.3;
}

footer {
    font-size: 140%;
    color: var(--pink);
}
